body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mapDiagram {
  transform: rotateX(180deg);
  transform-origin: 50% 50%;
}

.datamaps-hoverover {
  transform: rotateX(180deg);
  transform-origin: 50% 50%;
  
}
#container svg {
  /* position: unset !important; */
  /* width: unset !important; */
  /* padding-top: 40px; */
  width: 100%;
  background-color: #eceaecbd;
} 
#exampleCustomSwitch {
  margin: 0px auto;
}
.tableChange {
  margin: 0px auto;
}
.countryTable {
  margin: 0px auto;
}
.flagImage {
  margin-right: 10px;
  width: 40px;
}