body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav {
  padding-top: 10px;
}

.mapDiagram {
  transform: rotateX(180deg);
  transform-origin: 50% 50%;
}

.datamaps-hoverover {
  transform: rotateX(180deg);
  transform-origin: 50% 50%;
}
#container svg {
  width: 100%;
  background-color: #e4f1fe;
} 
#exampleCustomSwitch {
  margin: 0px auto;
}
.tableChange {
  margin: 0px auto !important;
}
.countryTable {
  margin: 0px auto;
}
.flagImage {
  margin-right: 10px;
  width: 40px;
}
.selectOption {
  display: inline-block !important;
  width: 50% !important;
}
.custom-control {
  /* position: absolute !important; */
}
.widgetButton {
  display: none;
}

/** Iframe CSS */
.embed-responsive {
  position:relative;
  display:block;
  width:100%;
  padding:0;
  overflow:hidden
 }
.embed-responsive::before {
  display:block;
  content:'' }
.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  border:0 }
.embed-responsive-21by9::before {
  padding-top:42.857143%
 }
.embed-responsive-16by9::before {
  padding-top:56.25%
 }
.embed-responsive-4by3::before {
  padding-top:75%
 }
.embed-responsive-1by1::before {
  padding-top:100%
 }
iframe#widgetSnippet#document.container.container-fluid.widgetContainer#widgetButton {
  display: none;
 }
 table th {
  position: sticky; 
  top: 0;
 }
 .countryTable {
  overflow-y: auto; 
  height: 800px; 
 }