body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.highcharts-series-group {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

.highcharts-data-labels {
  transform: rotate(180deg);
  transform-origin: 49% 44%;
}
.container {
  padding-top: 40px;
  
  /* text-align:  center; */
}
#container {
  /* position: unset !important; */
  /* padding-bottom: 0 !important;
  margin: 0 auto;
  width: 750px;
  height: 500px; */
}

#container svg {
  /* position: unset !important; */
} 